body {
  margin: 0;
  font-family: Arial, sans-serif;
}

input, button {
  margin: 0.5em;
  padding: 0.4em;
}
table {
  border-collapse: collapse;
  margin-top: 1em;
  width: 100%;
}
th, td {
  border: 1px solid #ccc;
  padding: 0.5em;
  text-align: left;
}
canvas {
  margin-top: 2em;
}

.login-page {
  background-color: #f0f0f0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  background: white;
  padding: 2em;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.login-container input {
  display: block;
  width: 100%;
  margin: 1em 0;
  padding: 0.5em;
}

.home-page {
  background-image: url('build/background.jpg'); /* Devi mettere uno sfondo tuo */
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: white;
  text-align: center;
}

.menu ul {
  list-style: none;
  padding: 0;
}

.menu li {
  margin: 1em 0;
}


